{% extends "base.html" %}

{% block content %}
    <div>
        <h1>{{ playlist.name }}</h1>
        <p style="font-style:italic">Number of songs: {{ num_tracks }}</p>
        <p style="font-style:italic">Size of each image: {{ size[1] }}x{{ size[1] }}</p>
        <h3>Enter the following information to make your collage:</h3>
        <form action="" method="post" novalidate>
            {{ form.csrf_token() }}
            {{ form.artwork_width(value=size[1]) }}
            <p>
                {{ form.artwork_row.label }}<br>
                {{ form.artwork_row(size=32) }}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
        <ul>
            {% for track in tracks %}
            <li>{{track.track.name}}</li>
        {% endfor %}
        </ul>
        
    </div>
{% endblock %}