{% extends "base.html" %}

{% block content %}
    {% if user %}
        <h1>{{ user }}'s Playlists:</h1>  
        {% for playlist in playlists['items'] %}
            <div class="playlist">
                <img style="height: 150px;width:150px;" src="{{ playlist.images[0].url}}">
                <h3><a href="{{ url_for('collage_details', playlist_id=playlist.id) }}">{{ playlist.name }}</a></h3>
                <p>{{ playlist.description }}</p>
            </div>
        {% endfor %}
    {% else %}
        <h1>Please enter a <a href="/username">username</a></h1>
    {% endif %}
{% endblock %}